.toggle {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.8em 1.5em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #646cff;
    color: white;
    cursor: pointer;
    transition: all 0.25s;
    margin-bottom: 20px;
}

.toggle:hover {
    background-color: #535bf2;
    border-color: #646cff;
}

.toggle:focus,
.toggle:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

